<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>{{title}}</title>

    <!-- Bootstrap -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="static/bootstrap_cdn_local/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="static/bootstrap_cdn_local/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>


<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        .col-xs-6 .col-md-4rrrrrrrrrrrrrr
    </div>

    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-success">
                <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                Start
            </button>
            <button type="button" class="btn btn-warning">
                <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
                Stop
            </button>
            <button type="button" class="btn btn-danger">
                <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                Kill
            </button>
            <button type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                Restart
            </button>
            <button type="button" class="btn btn-danger">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                Remove
            </button>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-info">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    Add Container
                </button>
            </div>
        </div>

        <div class="bs-component">
            <table class="table table-striped table-hover table-condensed">
                <thead>
                <tr class="info">
                    {% for docker_images_title in docker_images_title_list %}
                    <th>
                        docker_images_title
                    </th>
                    {% end %}
                </tr>
                </thead>
                <tbody>
                {% for docker_image_item in docker_image_item_list %}
                <tr>
                    {% for image_item in docker_image_item %}
                    <td>
                        {{ image_item }}
                    </td>
                    {% end %}
                </tr>
                {% end %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="static/bootstrap_cdn_local/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="static/js/bootstrap.min.js"></script>

</body>
</html>
